<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product
    Name='pomogoro @VERSION@'
    Id='*'
    UpgradeCode='F7CC5D66-B52B-4AFF-8F52-C4DE8A25D789'
    Language='1033'
    Codepage='1252'
    Version='@VERSION@'
    Manufacturer='Joshua Winkler'>

    <Package
      Id='*'
      Keywords='Installer'
      Description='pomogoro installer'
      Manufacturer='Joshua Winkler'
      InstallerVersion='200'
      Languages='1033'
      Compressed='yes'
      SummaryCodepage='1252'
    />

    <Media
      Id='1'
      Cabinet='pomogoro.cab'
      EmbedCab='yes'
    />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder'>
        <Directory Id='INSTALLFOLDER' Name='pomogoro'>
          <Component Id='MainExecutable' Guid='FD11D921-94AB-4FA6-BB80-899FB05ED107'>
            <File
              Id='pomogoro.exe'
              Name='pomogoro.exe'
              DiskId='1'
              Source='pomogoro.exe'
              KeyPath='yes'
            />
          </Component>
        </Directory>
      </Directory>

      <Directory Id='ProgramMenuFolder'>
        <Directory Id='ApplicationShortcutsFolder' Name='pomogoro'>
          <Component Id='ApplicationShortcut' Guid='01B5B337-9F86-4E84-86A1-A6CCEF8BC13C'>
            <Shortcut
              Id='ApplicationStartMenuShortcut'
              Name='pomogoro'
              Description='Simple Pomodoro timer'
              Target='[INSTALLFOLDER]pomogoro.exe'
              WorkingDirectory='INSTALLFOLDER'
            />
            <RemoveFolder Id='CleanUpShortcut' On='uninstall'/>
            <RegistryValue
              Root='HKCU'
              Key='Software\bemoty\pomogoro'
              Name='installed'
              Type='integer'
              Value='1'
              KeyPath='yes'
            />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='ApplicationShortcut' />
    </Feature>
  </Product>
</Wix>
